#Todos los archivos terminados en .env
*.env
#Carpetas
venv/
credentials.json
token.pickle
dag/data_temp
source/extract/__pycache__
source/transform/__pycache__
source/load/__pycache__
source/__pycache__